.other {
    @include window;
    @include flex-col;
    padding: 50px;

    &-title {
        font-weight: bold;
        font-size: large;
        color: rgb(72, 154, 248);
    }

    &-panel {
        @include flex-col;

        &-note {
            margin-top: 20px;
            font-weight: bold;
            color: #ccc;
        }

        &-item {
            @include flex-row;
            @include text-border;
            border-radius: 10px;
            width: fit-content;
            margin-top: 20px;
            padding: 20px;

            &-name {
                font-weight: bold;
                margin-right: 20px;
            }

            button {
                @include button(rgb(91, 145, 244), white, 10px, 20px, 5px);

                &[disabled] {
                    background-color: gray;
                    color: lightgray;
                    cursor: not-allowed;
                }
            }
        }
    }
}