@mixin skill-title{
    @include flex-row;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: white, $alpha: 0.6);
    padding: 0 5px;
    border-radius: 5px;
    p{
        font-weight: bold;
        text-align: center;
        color: rgba($color: black, $alpha: 0.5);
    }
}

@mixin skill-position($bot, $right, $width){
    position: absolute;
    bottom: $bot;
    right: $right;
    width: $width;
}

.normal-skill{
    @include skill-position(10px, 0, 10%);
    @include flex-col;
    align-items: center;
    & > * {margin-bottom: 0px;}
    .avatar{
        width: 60%;
        border-radius: 50%;
        overflow: hidden;
        background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.1);
        img{display: block; width: 100%; height: auto; margin-bottom: 0;}
    }
    .title{
        @include skill-title();
    }
}

.expecial-skill{
    @include skill-position(10px, 110px, 26px);
    @include flex-col;
    align-items: center;
    .avatar{
        // padding: 5px;
        background-color: rgba($color: rgb(13, 43, 240), $alpha: 0.1);
        border-radius: 50%;
        img{width: 26px;display: block;margin: auto;}
    }
    .title{
        @include skill-title();
    }
}