* {
  padding: 0;
  margin: 0;
}

canvas {
  width: 100%;
}

.stats-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 20% !important;
}
.stats-panel div {
  font-size: 15px !important;
}

.bottom-healthbar {
  position: absolute;
  width: 20%;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.bottom-healthbar div {
  height: 100%;
  width: 100%;
  background-color: #a3f07a;
}

#monster-info {
  position: absolute;
  width: 50%;
  top: 8px;
  color: aliceblue;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#monster-info * {
  margin-bottom: 10px;
}
#monster-info .name {
  text-align: center;
  font-weight: bold;
}
#monster-info .top-healthbar {
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  overflow: hidden;
}
#monster-info .top-healthbar div {
  height: 100%;
  width: 100%;
  background-color: #a3f07a;
  background-color: red;
}

.characters {
  width: 20%;
  height: 15%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.characters .char {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.characters .char * {
  margin-right: 10px;
}
.characters .char img {
  display: block;
  border-radius: 50%;
  width: 20%;
  height: auto;
  border: 3px solid #a3f07a;
}
.characters .char .right-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.characters .char .right-container * {
  margin-bottom: 10px;
}
.characters .char .right-container .name {
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.characters .char .right-container .healthbar {
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 10px;
}
.characters .char .right-container .healthbar div {
  width: 100%;
  height: 100%;
  background-color: #a3f07a;
}

.punch {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.punch > * {
  margin-bottom: 0px;
}
.punch .avatar {
  width: 60%;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}
.punch .avatar img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 0;
}
.punch .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0 5px;
  border-radius: 5px;
}
.punch .title p {
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

#items {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  justify-content: flex-end;
}
#items img {
  display: block;
  width: 6%;
  height: auto;
  margin-right: 10px;
}

.body-login {
  background-image: url("/assets/loginform/background.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.body-login .login-form {
  border-radius: 10px;
  box-sizing: border-box;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body-login .login-form > * {
  margin-bottom: 20px;
}
.body-login .login-form:last-child {
  margin-bottom: 0;
}
.body-login .login-form h2 {
  color: white;
}
.body-login .login-form input {
  width: 70%;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(223, 31, 219);
  font-weight: bold;
}
.body-login .login-form button {
  padding: 10px 15px;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(223, 31, 219);
}
.body-login .login-form button:hover {
  cursor: pointer;
}
.body-login .login-form .navigation {
  font-weight: bold;
  color: white;
}
.body-login .login-form .navigation a {
  text-decoration: none;
  color: rgb(223, 31, 219);
}

.bag {
  box-sizing: border-box;
  position: absolute;
  background-image: url("/assets/equipments/background.jfif");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
}
.bag .bag-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 700px;
  flex-wrap: wrap;
}
.bag .bag-left .item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  transition: all ease 0.1s;
  background-color: #d7b649;
  border-radius: 15px;
  margin: 5px;
}
.bag .bag-left .item img {
  display: block;
  width: 90px;
  height: 90px;
}
.bag .bag-left .item:hover {
  border: 4px solid white;
  border-radius: 20px;
}
.bag .bag-right {
  width: 300px;
}
.bag .bag-right .name-item {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  padding: 5px;
  background-color: rgba(215, 182, 73, 0.5);
  color: white;
}
.bag .bag-right .top-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  background-color: #dcc169;
}
.bag .bag-right .top-info-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bag .bag-right .top-info-left-top {
  margin-bottom: 30px;
}
.bag .bag-right .top-info-left-top p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.bag .bag-right .top-info-left-bottom .string {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}
.bag .bag-right .top-info-left-bottom .num {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.bag .bag-right .top-info-right img {
  display: block;
  width: 130px;
  height: 108px;
}
.bag-close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  width: 25px;
  height: 25px;
}

.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.notification-item {
  padding: 10px 20px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}
.notification-item.show {
  opacity: 1;
}
.notification-item.hidden {
  opacity: 0;
}
.notification-item-equipname {
  color: #d7b649;
}

.story {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;
  padding: 20px;
}
.story-owner {
  position: absolute;
  top: -15px;
  left: 10px;
  display: block;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.85);
  color: rgb(252, 237, 66);
  font-weight: bold;
}
.story-content {
  color: white;
  font-weight: bold;
}
.story button {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.story button img {
  display: block;
  width: 20px;
  height: auto;
}
.story.show {
  opacity: 1;
}
.story.hide {
  opacity: 0;
}

.communicated-notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
}
.communicated-notification p {
  color: white;
  margin-right: 20px;
}
.communicated-notification div {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: white;
}/*# sourceMappingURL=index.css.map */