*{
    padding: 0;
    margin: 0;
}

canvas{
    width: 100%;
}

.stats-panel{
    position: absolute;
    top: 0;
    left: 0;
    width: 20% !important;
    div{
        font-size: 15px !important;
    }
}

@import 'mixin';
@import 'healthbar';
@import 'player';
@import 'items';

@import 'login';
@import 'signup';
@import 'bag';
@import 'story';
